/* Estilos generales */
body {
    background-color: #fff0ff; /* rosado clarito */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 50px;
    color: #333;
}

/* Título principal */
h1 {
    color: #ff00aa;
    font-size: 40px;
    text-shadow: 2px 2px #ffd6ff;
}

/* Párrafos */
p {
    font-size: 20px;
    color: #444;
}

